@import '../common.scss';

.element--flex {
  display: flex;
  flex-wrap: wrap;
}

.element--space-around {
  justify-content: space-around;
}

.element--space-between {
  justify-content: space-between;
}

.element--column {
  flex-direction: column;
}

.element--centered {
  align-items: center;
  justify-content: center !important;
}

.element--centered-in-desktop {
  @include from($desktop) {
    align-items: center;
    justify-content: center !important;
  }
}

.element--horizontal-half {
  @include from($desktop) {
    width: 45%;
  }
}

.element--auto-margin {
  margin: auto;
}

.element--auto-bottom-margin {
  margin-bottom: auto;
}

.element--flex-start {
  align-content: flex-start;
}

.element--no-wrap {
  flex-wrap: nowrap;
}

.element--relative {
  position: relative !important;
}
