@import '../common.scss';

.form {
  p {
    font-family: $font-heading;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  input {
    padding: 1rem;
    border: 1px solid var(--color-main);
    outline: 0;

    &:focus {
      border: 1px solid var(--color-text);
    }
  }

  .submit {
    border: 3px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-background);
    padding: 0.7rem 2rem;

    &:hover {
      cursor: pointer;
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }
}
