.scroll-navigation {
  padding-right: 1rem;
}

.course {
  li {
    list-style-type: none;
  }
}

.level-h1 {
  font-weight: bold;
  padding-left: 2.8rem;
  text-indent: -2.8rem;
}

.level-h2 {
  padding-left: 1.6rem;
  text-indent: -1.6rem;
}

.level-h1,
.level-h2 {
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

  &::before {
    content: '-';
    margin-right: 1rem;
  }
}
