@import '../../common.scss';

.searchLink {
  border-radius: 4px;
  padding: 4px;
  display: inline-flex;

  &:focus,
  &:hover {
    background-color: var(--color-text);
    color: var(--color-background);
  }
}
