@import '../common.scss';

.content-liftup {
  position: relative;
  text-decoration: none;
}

.content-liftup--small {
  box-sizing: border-box;

  > :last-child {
    margin-bottom: 0;
  }
}

.content-liftup--padding {
  padding: 10px;
}

.content-liftup__name {
  margin-top: 1.5 * $vertical-spacing;
  color: var(--color-text);
  font-weight: bold;
  @include from($desktop) {
    margin-top: 2 * $vertical-spacing;
  }
}

.content-liftup__summary {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--color-text);
  line-height: 28px;
}

.content-liftup__link {
  &:focus {
    .image {
      opacity: 0.6;
    }
  }

  &:focus:not(:focus-visible) {
    .image {
      opacity: 1;
    }
  }
}

.content-liftup .content-liftup__image {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
  }
}
