@import '../common.scss';

.header {
  position: sticky;
  z-index: 9999999999;
  top: 0;
  transition: top 0.2s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.444rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.header__logo {
  margin: 0 10px;
}
