@import '../common.scss';

.header {
  position: sticky;
  z-index: 9999999999;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.444rem;
  padding-bottom: 1rem;
  transition: all 0.2s ease-in-out;

  &--small {
    pointer-events: none;
  }
}

.header__logo {
  margin: 0 10px;
  pointer-events: auto;
}
