@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("/fonts/NotoNaskhArabic.ttf") format("truetype-variations");
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
  unicode-range: U+0600-06FF, U+FB50-FDFF; // restrict to Arabic chars
}
