@import '../common.scss';

.developer-story__image {
  margin-bottom: auto;
}

.developer-story__company-logo-wrapper {
  html[data-theme='dark'] & {
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 10px;
    padding: 15px;

    img {
      margin: 0 auto;
    }
  }
}

.developer-story__name {
  margin-top: 4rem;
  font-size: 1.2rem;
}

.developer-story__title {
  font-size: 0.9rem;
}

.developer-story__read-more {
  margin-top: 2rem;
  line-height: 1.1rem;
  width: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  border-bottom: 2px solid var(--color-link-decoration);
  cursor: pointer;

  &:hover {
    background-color: var(--color-main);
  }
}
