name: build and deploy

on:
  push:
    branches:
      - source
jobs:
  build:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: install
        run: |
          npm install
      - name: build
        run: |
          ls -la
          npm run build
      - name: git status
        run: |
          git status          
      - name: working dir
        run: |
          cd public 
          pwd
          ls -la
      - name: vat
        run: |
          gh-pages -u 'Matti Luukkainen <mluukkai@iki.fi>' ${{ secrets.SEKRED }} -d public -b master
 